@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sub-background: #282828;
  --card-border: #3f3f3f;
  --date-text: #575757;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}
